[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "omf/pkg/asp"]
  path = omf/pkg/asp
  url = git@github.com:mgoodness/plugin-asp
[submodule "dotbot-brew"]
  path = dotbot-brew
  url = https://github.com/d12frosted/dotbot-brew.git
[submodule "base16-shell"]
  path = base16-shell
  url = git@github.com:chriskempson/base16-shell.git
[submodule "omf/themes/opsgoodness"]
  path = omf/themes/opsgoodness
  url = git@github.com:mgoodness/theme-opsgoodness.git
[submodule "omf/pkg/kube-utils"]
	path = omf/pkg/kube-utils
	url = git@github.com:mgoodness/plugin-kube-utils.git
