"*":
  "atom-alignment": {}
  "atom-beautify":
    _analyticsUserId: "3461d490-c1f3-4a27-8742-294c10e80d68"
    general:
      _analyticsUserId: "0f44f205-3bae-4947-b53a-329cacc79781"
  "atom-terminus":
    args: "%d"
  core:
    disabledPackages: [
      "atom-terminus"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".metadata_never_index"
      ".DS_Store"
      ".git*"
      ".vagrant"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/mgoodness/dev"
    themes: [
      "atom-dark-ui"
      "atom-monokai"
    ]
  editor:
    invisibles: {}
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "env-from-shell":
    variables: [
      "PATH"
      "GOPATH"
    ]
  "exception-reporting":
    userId: "cd39e93a-4b61-29d8-1f8d-2819196c7f70"
  "file-types":
    "^Dockerfile.*": "source.Dockerfile"
  "git-history": {}
  "go-plus":
    goPath: "~/dev/golang"
  hidpi: {}
  linter:
    errorPanelHeight: 33
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
  "merge-conflicts": {}
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "split-diff": true
  "one-light-ui": {}
  "terminal-plus":
    core: {}
    toggles:
      autoClose: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".go.source":
  "tabs-to-spaces":
    onSave: "tabify"
".makefile.source":
  "tabs-to-spaces":
    onSave: "tabify"
